<!DOCTYPE html>
<html lang="en" ng-app="myModule">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Angular Js</title>
	<script src="angular.js"></script>
	<script src="main.js"></script>
	<!--<script src="angular.min.js.map"></script>-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<style>
		td,
		th {
			border: 1px solid rgb(190, 190, 190);
			padding: 10px;
			cursor: pointer;
		}

		td {
			text-align: center;
		}

		tr:nth-child(even) {
			background-color: #eee;
		}

		th[scope="col"] {
			background-color: #696969;
			color: #fff;
		}

		th[scope="row"] {
			background-color: #d7d9f2;
		}

		caption {
			padding: 10px;
			caption-side: bottom;
		}

		table {
			border-collapse: collapse;
			border: 2px solid rgb(200, 200, 200);
			letter-spacing: 1px;
			font-family: sans-serif;
			//font-size: .8rem;
		}
		.arrow-up{
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 10px solid black;
			display:inline-block;
		}
		.arrow-down{
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 10px solid black;
			display:inline-block;
		}
	</style>
</head>

<body ng-controller="myController">
	<p></p>
	<div class="container" >
		{{message}}
	
	<p></p>
	<div>
		{{["Vish","Ravi", "Kavita"][2]}}
	</div>
	<h3>Controller</h3>
	<div>
		<p>First Name: {{employee.firstName}}</p>
		<p>Last Name: {{employee.lastName}}</p>
		<p>Gender: {{employee.gender}}</p>
	</div>
	<h3>Binding Method </h3>
	<div>
		<p>Name: {{cntry.name}}</p>
		<p>Capital: {{cntry.capital}}</p>
		<p></p>
		<p>Flag: <img ng-src="{{cntry.flag}}" alt="{{cntry.name + 'flag'}}" style="height:32px; width:50px;" /></p>

	</div>
	<h3>TWO WAY DATA BINDING</h3>
	<div>
		<input type="text" ng-model="greeting" />
		<br>
		{{newmessage}}
		<br>
		{{greeting}}
		<p>
		<table>
			<tr>
				<td>First Name:</td>
				<td>
					<input type="text" ng-model="student.firstName" />
				</td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td>
					<input type="text" ng-model="student.lastName" />
				</td>
			</tr>
			<tr>
				<td>Gender:</td>
				<td>
					<input type="text" ng-model="student.gender" />
				</td>
			</tr>
		</table>
		</p>
		<p>
		<table>
			<tr>
				<td>First Name:</td>
				<td>
					{{student.firstName}}
				</td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td>
					{{student.lastName}}
				</td>
			</tr>
			<tr>
				<td>Gender:</td>
				<td>
					{{student.gender}}
				</td>
			</tr>
		</table>
		</p>
	</div>
	<h3>NG REPEAT DIRECTIVE</h3>
	<div>
		<table cellpadding="10" cellspacing="10">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Gender</th>
					<th>Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cemp in cemp">
					<td>{{cemp.firstName}}</td>
					<td>{{cemp.lastName}}</td>
					<td>{{cemp.Gender}}</td>
					<td>{{cemp.Salary}}</td>
				</tr>
			</tbody>


		</table>
		<div>
			<ul>
				<li ng-repeate="country in countries">
					{{country.name}}
					<ul>
						<li ng-repeat="city in country.cities">
							{{city.name}}
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<br><br><br>
		<h3>HANDLING EVENTS </h3>
		<P>

		<table cellpadding="10" cellspacing="10">
			<thead>
				<tr>
					<th>Name</th>
					<th>Likes</th>
					<th>Dislikes</th>
					<th>Like/Dislike</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="website in websites">
					<td>{{website.name}}</td>
					<td>{{website.likes}}</td>
					<td>{{website.dislikes}}</td>
					<td>
						<input type="button" value="Like" ng-click="incrementLikes(website)">
						<input type="button" value="Dislike" ng-click="incrementDislikes(website)">
					</td>
				</tr>
			</tbody>
		</table>
		</P>
		<h3>FILTERS </h3>
		<div>
			<p>Rows To Display:<input type="number" step"1" min="0" max="7" ng-model="rowLimit" /></p>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Date of Birth</th>
						<th>Gender</th>
						<th>Salary (Number)</th>
						<th>Salary (Currency)</th>

					</tr>
				</thead>
				<tr ng-repeat="empList in empLists | limitTo:rowLimit">
					<td>{{empList.name |uppercase}}</td>
					<td>{{empList.dateofBirth |date:"dd/mm/yyyy"}}</td>
					<td>{{empList.Gender | lowercase}}</td>
					<td>{{empList.Salary |number:2 }}</td>
					<td>{{empList.Salary | currency:INR :1 }}</td>
				</tr>
			</table>
		</div>
		<h3>SHORTING DATA</h3>
		<div>
			OrderBy: <select ng-model="sortColumn">
				<option value="name" selected>Name ASC</option>
				<option value="dateOfBirth">Date of Birth ASC</option>
				<option value="Gender">Gender ASC</option>
				<option value="Salary">Salary ASC</option>
			</select>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Date of Birth</th>
						<th>Gender</th>
						<th>Salary (Number)</th>
						<th>Salary (Currency)</th>

					</tr>
				</thead>
				<tr ng-repeat="empList in empLists | orderBy:sortColumn">
					<td>{{empList.name |uppercase}}</td>
					<td>{{empList.dateofBirth |date:"dd/mm/yyyy"}}</td>
					<td>{{empList.Gender | lowercase}}</td>
					<td>{{empList.Salary |number:2 }}</td>
					<td>{{empList.Salary | currency:INR :1 }}</td>
				</tr>
			</table>
		</div>
		<h3>SHORT ROW BY TABLE HEADER</h3>
		<div>
			
			<table>
				<thead>
					<tr>
						<th ng-click="sortData('name')">Name
							<div ng-class="getSortClass('name')"></div>
						</th>
						<th ng-click="sortData('dateOfBirth')">Date of Birth
							<div ng-class="getSortClass('dateOfBirth')"></div>
						</th>
						<th ng-click="sortData('Gender')">Gender
							<div ng-class="getSortClass('Gender')"></div>
						</th>
						<th ng-click="sortData('Salary')">Salary (Number)
							<div ng-class="getSortClass('Salary')"></div>
						</th>
					

					</tr>
				</thead>
				<tr ng-repeat="pData in pData | orderBy:sortColumn:reverseSort">
					<td>{{pData.pname }}</td>
					<td>{{pData.date_ofBirth | date:"dd/mm/yyyy"}}</td>
					<td>{{pData.gender}}</td>
					<td>{{pData.salary}}</td>
					
				</tr>
			</table>
		</div>
		<h3>SEARCH FILTER</h3>
		<P>
			<div>
				<p>Search: <input type="text" placeholder="Search " ng-model="searchText"/></p>
				<table width="50%">
					<thead>
						<tr>
							<th >Name</th>
							<th>City</th>
							<th >Gender</th>
							<th >Salary </th>
						
	
						</tr>
					</thead>
					<tr ng-repeat="searchPeople in searchPeople | filter:searchText">
						<td>{{searchPeople.name}}</td>
						<td>{{searchPeople.city}}</td>
						<td>{{searchPeople.Gender}}</td>
						<td>{{searchPeople.Salary}}</td>
						
					</tr>
				</table>	
		</P>
	</div>
</div>
</body>

</html>